
div.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 39px;
    grid-auto-rows: minmax(109px, auto);
    width: 723px;
}

.card-img-top {
    opacity: 0.8;

}
.card-img-top:hover {
   cursor: pointer;

}

div .text-center:first-of-type{
    padding-top: -3px;
    background-image: url("/images/DSC_9865.jpg");
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
#filter-form{
    background-color: white;
    background-image: none;
}

.jumbotron{
    opacity: 1;
  background-color: white;
}
.footer{
    background-image: url("/images/DSC_9865.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 200px;
    margin-top: -20px;
}

.container {
    margin: auto;
    width: auto;
}
.jumbotron-heading{
    font-weight: 600;
    color: #f6ff68;
}
.btn-outline-danger:hover {
    color: #fcf3f3;
    background-color: darkred;
    border-color: #efa9b0;
}
small {
    color: #ffffff;
    font-weight: 700;
}
h5{
    text-transform: uppercase;
    color:#f7653b;
    font-weight: 700;
    font-family: system-ui, serif;
}
.card{
    border: 4px solid #958d8761;
    padding: 5px;
    border-radius: 8px;
}
h1 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 55px;
    font-weight: normal;
    line-height: 48px;
    margin: 0; }
.btn-info {
    color: white;
    background-color: #f7653b;
    border: 3px solid #ffffff;
    border-radius: 7px;
}
.btn-info:hover {
    color: #f7653b;
    background-color: #ffffff;
    border-color:#f7653b;
}
.btn-primary {
    color: #fff;
    background-color: #f7653b;
    border: 2px solid #fcffcc;
    font-weight: 600;
    border-radius: 6px;
    width: 200px;
    padding: 8px;
}
.btn-primary:hover{
    color:  #f7653b;
    background-color: #ffffff;
    border: 1px solid  #f7653b;
    font-weight: 600;
}

#add:hover {

    border: 2px solid  #2676a3;
    width: 164px;
    margin-top: 24px;
}
label {
    font-weight: bolder;
    color: #f7653b;
    text-transform: uppercase;
    width: 196px;
    font-size: 21px;
    font-family: system-ui,sans-serif;
    font-style: italic;
}
input,select{
    border-radius: 9px;
    border: 2px solid #b1c9c0;
    color: #b4b4b4;
}
select{
    height: 32px;
    font-style: oblique;
}
#filter {
    width: 100px;
    margin-top: 11px;
    border-radius: 11px;
}
.btn-block{
    border: 2px solid #2676a3;;
    width: 164px;
    margin-top: 24px;
    color: white;
    background-color: #0d6efd;
}
.btn-block:hover{
    border: 2px solid #2676a3;;
    width: 164px;
    margin-top: 24px;
    color: #2676a3;
    background-color: white;
}