div.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(109px, auto);
    width: 850px;
    margin-left: 500px;
}
#box {
    margin-left: -230px;
}
div .text-center:first-of-type{
    padding-top: -3px;
    background-image: url("/images/DSC_9865.jpg");
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
/*div .text-center:first-of-type{
    padding-top: -3px;
    background-image: url("https://scontent.fskp1-2.fna.fbcdn.net/v/t1.6435-9/90103105_10156819691852056_1538107172578131968_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=19026a&_nc_ohc=ajBY27-AgqgAX__OpTJ&_nc_ht=scontent.fskp1-2.fna&oh=00_AT_70p-SKcbp7yqYDVAJw-bG0HBXB_gejBKlTvnIQw_AaA&oe=623F375B");
    background-position: center;
    background-repeat: no-repeat;

}*/
.footer{
    background-image: url("/images/DSC_9865.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 200px;
    margin-top: -20px;
}


small {
    color: #ffffff;
    font-weight: 700;
}
.jumbotron{
    opacity: 1;
}
.jumbotron-heading{
    font-weight: 600;
    color: #f6ff68;
}
#back{
    background-color: lightgrey;
    margin-top: -40px;
    margin-bottom: -25px;
}
.container {
    margin: auto;
    width: auto;
}
h1 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 55px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
}
