div.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(109px, auto);
    width: 850px;

}

div .text-center:first-of-type{
    padding-top: -3px;
    background-image: url("/images/DSC_9865.jpg");
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
/*div .text-center:first-of-type{
    padding-top: -3px;
    background-image: url("https://scontent.fskp1-2.fna.fbcdn.net/v/t1.6435-9/90103105_10156819691852056_1538107172578131968_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=19026a&_nc_ohc=ajBY27-AgqgAX__OpTJ&_nc_ht=scontent.fskp1-2.fna&oh=00_AT_70p-SKcbp7yqYDVAJw-bG0HBXB_gejBKlTvnIQw_AaA&oe=623F375B");
    background-position: center;
    background-repeat: no-repeat;

}*/
p:hover{
    cursor: pointer;
}
.footer{
    background-image: url("/images/DSC_9865.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 200px;
    margin-top: -20px;
}


small {
    color: #ffffff;
    font-weight: 700;
}
.jumbotron{
    opacity: 1;
}
.jumbotron-heading{
    font-weight: 600;
    color: #f6ff68;
}
#back{
    background-color: white;
    margin-top: -40px;
    margin-bottom: -25px;
}
.container {
    margin: auto;
    width: auto;
}
h1 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 55px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
}
.edit-product{
    color: white;
    background-color: #f7653b;
    border: 3px solid #ffffff;
    border-radius: 7px;
    font-size: 20px;
    align-content: center;
}
.edit-product:hover {
    color: #f7653b;
    background-color: #ffffff;
    border-color:#f7653b;
}
.delete-product {
    font-size: 15px;
}
.btn-outline-danger:hover {
    color: #fcf3f3;
    background-color: darkred;
    border-color: #efa9b0;
}
.card-title {
    text-transform: uppercase;
    color:#f7653b;
    font-family: system-ui, serif;
    font-weight: bold;
    padding-top: 35px;
}
.card-text {
    color:black;
    font-family: system-ui, serif;
    padding-top: 15px;
}
#month {
    color:black;
    font-family: system-ui, serif;
}
.price {
    padding-top: 30px;
}
.btn-block{
    border: 2px solid #2676a3;;
    width: 200px;
    margin-bottom: 20px;
    color: white;
    background-color: #0d6efd;
    font-size: 15px;
}
.btn-block:hover{
    border: 2px solid #2676a3;;
    color: #2676a3;
    background-color: white;
}
.btn-outline-primary {
    margin-bottom: 15px;
}