.blur{

    background-image: url("/images/blur.png");
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
h3{
    position: absolute;
    margin-top: -311px;
    margin-left: 214px;
    color: white;


}
h4 {
    text-transform: uppercase;
}
h5{
    font-weight: 600;
    color: #394562;
}