div .text-center:first-of-type{
    padding-top: -3px;
    background-image: url("/static/images/DSC_9865.jpg");
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
.jumbotron{
    opacity: 1;
}
.jumbotron-heading{
    font-weight: 600;
    color: #f6ff68;
}
.container {
    margin: auto;
    width: auto;
}
.form-group{
    font-size: 20px;
    text-align: center;
    display: block;
    color: #435e5e;
    font-weight: bold;
    margin-top: 20px;
}
input,select {
    text-align: center;
    display: block;
}
.form{
    border: 2px solid #f6f490;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
    width: 400px;
}
.btn-primary{
    color: #f6f490;
    background-color: #087b7e;
    border: 3px solid #ffffff;
    font-weight: 600;
    border-radius: 7px;
    width: 150px;
}
.btn-primary:hover {
    color: #087b7e;
    background-color: #ffffff;
    border-color: #087b7e;
}
.form-video {
    border: 2px solid #f6f490;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
    width: 600px;
}