div .text-center:first-of-type{
    padding-top: -3px;
    background-image: url("/static/images/DSC_9865.jpg");
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
#back-button{
    color: #007bff;
    background-color: #ffffff;
    border: 3px solid #007bff;
    font-weight: 600;
    border-radius: 7px;
    width: 150px;
}
#back-button:hover {
    color: #ffffff;
    background-color: #007bff;
    border-color: #ffffff;
}
.jumbotron-heading{
    font-weight: 600;
    color: #f6ff68;
}
small {
    color: #ffffff;
    font-weight: 700;
}
h1{
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 55px;
    font-weight: normal;
    line-height: 48px;
    margin: 0; }
div.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(109px, auto);
    width: 850px;
    margin-left: 500px;
}
.jumbotron{
    opacity: 1;
    background-color: white;

}
.footer{
    background-image: url("/static/images/DSC_9865.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 200px;
    margin-top: -20px;
}

.container {
    margin: auto;
    width: auto;
}
.jumbotron-heading{
    font-weight: 600;
    color: #f6ff68;
}
.image:hover {
    cursor: pointer;
}

div.wrapper {
    display: grid;
    gap: 30px;
    margin-left: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(109px, auto);
    width: 600px;
}
.card-body, .info-instructor{
    width: 295px;
    margin-top: 30px;
}
.card-title{
    color: rgb(241, 241, 241);
    background: rgb(223 124 91);
    line-height: 33px;
    font-weight: 800;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 10px;

}
.card-text{
    font-weight: 900;
    color: rgb(74, 73, 73);
    font-size: 15px;
}
.card-img-top{
    width: 330px;
}
/*.btn{
     color: darkorange;
     background-color: rebeccapurple;
     border: 3px solid #ffffff;
     font-weight: 600;
     border-radius: 7px;
    align-content: center;
 }*/
.btn:hover {
    color: #087b7e;
    background-color: #ffffff;
    border-color: #087b7e;
    cursor: pointer;
}
.btn{
    width:  330px;
    border-radius: 7px;
}
.btn-outline-danger:hover {
    color: #fcf3f3;
    background-color: darkred;
    border-color: #efa9b0;
}
.edit-product{
    color: white;
    background-color: #f7653b;
    border: 3px solid #ffffff;
    font-size: 14px;
    align-content: center;
}
.btn-dark{
    color: white;
    font-size: 14px;
}
#addSkill{
    color: white;
}
#addSkill:hover{
    color: black;
    font-size: 14px;
    background-color: white;
    border-color: dimgray;
}

.edit-product:hover {
    color: #f7653b;
    background-color: #ffffff;
    border-color:#f7653b;
}
#btn-style{
    border: 2px solid;
    border-color: #f7653b;
    width: 93px;
}
#addNew{
    border: 2px solid;
    border-color: #f7653b;
    width: 158px;
    height: 39px;
}
.add{
    border: 2px solid;
    border-color: #f7653b;
    color: f7653b;
    height: 39px;
}
.col-4{
    display: flex;
    flex-direction: row;
    flex:1 4;
}
