<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<br/>
<br/>
<div style="display: flex;">
    <div style="margin-right: 10px;">
        <div id="nav"></div>
    </div>
    <div style="flex-grow: 1;">
        <div id="dp"></div>
    </div>
</div>

<script src=""></script>
<script src="daypilot-all.min.js"></script>
<script>
    var nav = new DayPilot.Navigator("nav");
    nav.showMonths = 1;
    nav.skipMonths = 1;
    nav.selectMode = "week";
    nav.onTimeRangeSelected = function(args) {
        dp.startDate = args.day;
        dp.update();
        dp.events.load("/api/dates");
    };
    nav.init();


    var dp = new DayPilot.Calendar("dp");
    dp.viewType = "Week";


    dp.onEventResize = function (args) {
        var params = {
            id: args.e.id(),
            start: args.newStart.toString(),
            end: args.newEnd.toString()
        };
        DayPilot.Http.ajax({
            url: '/api/dates/move',
            data: params,
            success: function (ajax) {
                dp.message("Event resized");
            }
        });
    };
    dp.onBeforeEventRender = function(args) {
        args.data.barColor = args.data.color;
        args.data.areas = [
            { top: 2, right: 2, icon: "", visibility: "Visible", action: "ContextMenu", style: "font-size: 12px; background-color: #f9f9f9; border: 1px solid #ccc; padding: 2px 2px 0px 2px; cursor:pointer;"}
        ];
    };

    dp.init();

    dp.events.load("/api/dates");

</script>

</body>
</html>