<head>
    <title>Instructors</title>
    <link href="header.css" rel="stylesheet">
    <link href="instructors.css" rel="stylesheet">
</head>
<script>
    $(document).ready(function () {$("p").hide();
        $('.card').hover(function(){
            $(this).find(".image").css("opacity","0.2");
           $(this).find(".image").siblings().find('p').show();
        }, function(){
            $(this).find(".image").css("opacity","1");
             $(this).find(".image").siblings().find('p').hide();

        });
        $('.btn-dark').click(function (){
            $(this).siblings().find(".form-group").css("display","");
        });
        $('.btn-primary').click(function (){
            $(this).parent("div").css("display","none");
        });
    });
</script>
<script>
    function pageRedirect(id) {
        window.location.href = '/instructor/details/?id='+id ;
    }
</script>
<div xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">INSTRUCTORS</h1>
            <small>GROOVE AND GO</small>
        </div>
    </div>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="jumbotron text-center ">
        <div class="container" >
            <div class="wrapper row" th:if="${instructors.size() > 0}">
            <div th:each="i : ${instructors}" class="col-4" >
                <div class="card-group" >
                    <div class="card">
                        <img class="card-img-top image" th:src="${i.getUrl()}"
                             height="400px" width="330px" style="position: relative; cursor: pointer" th:id="${i.getId()}"
                             onclick="pageRedirect(this.getAttribute('id'))">
                        <div class="card-body" style=" position:absolute; cursor: pointer">
                            <div class="info-instructor" >
                                <p  style="font-size: 25px" class="card-title" th:text="${i.getName()} + '   ' + ${i.getSurname()}"></p>
                             <p class="card-text"  th:each="s:${i.getSkills()}" th:text="${i.getSkills().isEmpty()}
                            ? 'No Skills' : ${s.getName()}"></p>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:action="@{'/deleteInstructor/{id}' (id=${i.getId()})}"
                                  th:method="POST">
                                <button type="submit"
                                        class="btn btn-sm btn-outline-danger delete-product">
                                    <i class="fa fa-trash">Delete Instructor</i>
                                </button>
                            </form>
                        </th:block>

                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{'/instructors/edit-form/{id}' (id=${i.getId()})}"
                               class="btn btn-sm btn-info edit-product">
                                <i class="fa fa-trash">Edit Instructor</i>
                            </a>
                        </th:block>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">

                            <a class="btn btn-dark" id="addSkill">
                                <i class="fa fa-trash te">Add skill</i>
                            </a>

                        </th:block>
                        <form th:action="@{'/addSkill/{id}' (id=${i.getId()})}" th:method="POST">
                            <div class="form-group" style="display: none">
                                <label>Skills</label>
                                <select name="skills" class="form-control" multiple>
                                    <option th:each="s : ${skills}"
                                            th:value="${s.getId()}"
                                            th:text="${s.getName()}">
                                    </option>
                                </select>
                                <button class="btn add" type="submit">Add</button>
                                <a class="btn btn-outline-primary" type="button" style="cursor: pointer">Cancel</a>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            </div>
        </div>
        <div class="text-center">

            <br>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{'/instructors/add-form'}"
                   class="btn" id="addNew">
                    Add new instructor
                </a>
            </th:block>
            <a type="button" class="btn" href="/home" id="btn-style">Back</a>
        </div>
    </div>
    <div class="footer">
        <div class="container">

        </div>
    </div>

</div>