<!DOCTYPE html>
<html lang="en">
<head>
    <title>Programs</title>
    <link href="header.css" rel="stylesheet">
    <link href="programs.css" rel="stylesheet">
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org" >

    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">PROGRAMS</h1>
            <small>GROOVE AND GO</small>
        </div>
    </div>
    <div th:if="${hasError}" class="jumbotron text-center">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>
        <div class="jumbotron text-center" id="back">
            <div class="container " id="box" >

                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <div style="    margin-left: 108px;">
                            <a th:href="@{'/programs/add-form'}"
                               class="btn btn-block btn-primary edit-product ">
                                <i class="fa fa-trash">Add new Program</i>
                            </a>
                        </div>

                    </th:block>

                <div class="wrapper row" th:if="${programs.size() > 0}" style="margin-left: 113px;">
                    <div th:each="p : ${programs}" style="
                width:415px;">
                        <div class=" row program" style="width: 1000px">
                            <div class="col-2">
                                <img  class="card-img-top" th:src="${p.getUrl()}"
                                      alt="#" height="100px" width="120px">
                            </div>
                            <div class="col-2">
                                <h5  class="card-title" th:text="${p.getName()}"></h5>
                            </div>
                            <div class="col-3">
                                <p class="card-text" th:text="${p.getDescription()}"></p>
                            </div>
                            <div class="col-2">
                                <div class="price">
                                    <span class="card-text" th:text="${p.getPrice()}"></span><a id="month">/Month</a>
                                </div>
                            </div>
                            <div class="col-3">
                                <th:block sec:authorize="hasRole('ROLE_USER')">
                                    <a th:href="@{'/programs/apply/{id}' (id=${p.getId()})}"
                                       class="btn btn-sm btn-warning">
                                        <i class="fa fa-trash " role="alert" onclick="alert('Congratulations! You applied successfully to this program');" >Apply</i>
                                    </a>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/programs/edit-form/{id}' (id=${p.getId()})}"
                                       class="btn btn-sm btn-warning edit-product">
                                        <i class="fa fa-trash">Edit Program</i>
                                    </a>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/deleteProgram/{id}' (id=${p.getId()})}"
                                          th:method="POST">
                                        <button type="submit"
                                                class="btn btn-outline-danger delete-product">
                                            <i class="fa fa-trash">Delete Program</i>
                                        </button>
                                    </form>
                                </th:block>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col mb-3 text-center">
                <div>

            </div>
            <div class="text-center">
                <a href="/home" class="btn btn-outline-primary">Back</a>
            </div>
        </div>
    <div class="footer">
        <div class="container">
            <a></a>
        </div>
    </div>
</div>
</body>
</html>
